body {
  background: url(https://www.jakpost.travel/wimages/large/7-79048_search-free-wallpaper-wallpaper-download-free-image-background.jpg);
  font: 12px Lucida sans, Arial, Helvetica, sans-serif;
	color: #333;
	text-align: center;
}